<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DELTA AS324MT</title>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body >
    <section id="app" class="b-container">

      <h1>PLC GLOBAL TIME {{ plc_global_time }} s</h1>
  
      <h3>STATUS LINE</h3>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>delta_status</th>
            <th>udp1_status</th>
            <th>udp2_status</th>
            <th>udp3_status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ status.delta }}</td>
            <td>{{ status.udp1_status }}</td>
            <td>{{ status.udp2_status }}</td>
            <td>{{ status.udp3_status }}</td>
          </tr>
        </tbody>
      </table>
     
      <hr class="my-2">
      <h3>DIGITAL INPUTS STATE</h3>
      <div id="digital-inputs" class="mt-2">
        <digital-input
          v-for="input in deltaInputs"
          :input="input"
          :key="input.id"
        ></digital-input>
      </div>

      <hr class="my-2">
      <h3>ANALOG OUTPUTS</h3>

      {{ deltaRegisters['AO01'] }}<input v-model="deltaAO['AO01'].setV">
      {{ deltaRegisters['AO02'] }}<input v-model="deltaAO['AO02'].setV">
      {{ deltaRegisters['AO03'] }}<input v-model="deltaAO['AO03'].setV">

      <table id="analog-output-table" class="table">
          <tbody>
            <tr>
              <th>Name</th>
              <th>Device</th>
              <th>Decimal Value</th>
              <th>Offset</th>
              <th>Multiplier</th>
              <th>Analog Value</th>
              <th>New Analog Value</th>
            </tr>
            <tr v-for="(aOut, id) in deltaAO" :key="id">
              <th>{{ id }}</th>
              <td>{{ aOut.name }}</td>
              <td>{{ aOut.decimalValue }}</td>
              
              <td>
                <input 
                  class="analog-input" 
                  v-model="deltaAO[ id ].v0"
                  type="number" step="0.01">
                <b-button 
                  size="sm" variant="success" title="Save all"
                  @click="saveToStorage">
                  <i class="fa fa-check"></i>
                </b-button>
              </td>
              <td>
                <input 
                  class="analog-input" 
                  v-model="deltaAO[ id ].koeff"
                  type="number" step="0.001">
                <b-button 
                  size="sm" variant="success" title="Save all"
                  @click="saveToStorage">
                  <i class="fa fa-check"></i>
                </b-button>
              </td>
              <th>{{ aOut.strAnalogValue }}</th>
              <th>
                <b-button 
                  size="sm" variant="info" title="Fill value"
                  @click="moveAnalogValueForChange(id)">
                  <i class="fa fa-share"></i>
                </b-button>

                <input class="analog-input"
                  v-model="deltaAO[ id ].setV"
                  type="number" min="0" max="32767" step="0.1"
                  placeholder="no change">

                <b-button 
                  size="sm" variant="success" title="Set"
                  @click="sendNewOutputState">
                  <i class="fa fa-check"></i>
                </b-button>

                <b-button 
                  size="sm" variant="danger" title="Clear"
                  @click="deltaAO[ id ].setV = null">
                  <i class="fa fa-eraser"></i>
                </b-button>
              </th>
            </tr>
          </tbody>
      </table>

      <hr class="my-2">
      <h3>DIGITAL OUTPUTS</h3>

      <div class="mt-2">
        <b-button size="sm" variant="info" 
          @click="sendNewOutputState">
          Change Output States
        </b-button>
        <b-button size="sm" variant="primary"
          @click="clearOutputSelection">
          Clear Selection
        </b-button>
      </div>

      <div id="digital-outputs" class="mt-2">
        <digital-output
          v-for="output in deltaDO"
          @click.native="changeDOutputState(output)"
          :class="{ 'output-button-selected-on' : output.command == '1',
                    'output-button-selected-off': output.command == '0'} "
          :output="output"
          :key="output.id"
        ></digital-output>
      </div>

      <hr class="my-2">
      <h3>DELTA REGISTERS</h3>
      <b-table 
        :items="deltaValues"  
        :striped='true' 
        :bordered='true'
        :outlined=true        
        :small=true
        :hover=true>
      </b-table>
   
    </section>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="js/sensors.settings.js"></script>
  
    <script src="js/components/digital.output.js"></script>
    <script src="js/components/digital.input.js"></script>
    <script src="js/storage.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>